.Rproj.user
.Rhistory
.RData
.Ruserdata
Final Project/data/adults_testing_dummies.csv
Final Project/data/adults_training_dummies.csv
Final Project/python_regression.pkl
.DS_Store
final_project/python_regression.pkl
